@font-face {
  font-family: "Sniglet";
  src: url("../Sniglet-Regular.ttf") format("truetype");
}

body {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
}

#progressGroup {
    position: absolute;
    width: 200px;
    margin: 0 -120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 50%;

    font-size: larger;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 1em #7f8c8d;
}

#version {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5em;
}

#infos {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.5em;
}

/* GUI restyling */
.lil-gui, .lil-gui>.title, * {
    --background-color: #1e272edd !important;
    --title-background-color: transparent !important;
    --widget-color: #27ae5f9c;
    --hover-color: #2ecc709c;
    --focus-color: #2ecc719c;
    --number-color: #1e272e;
    --spacing: 0.35em;
}

.lil-gui.root>.title {
    font-size: 1.2em;
}

.lil-gui.root {
    top: 2.5em;

    left: 50%;
    margin: 0 -150px;

    width: 300px;
    padding: 0.2em;
    border-radius: 0.4em;
    padding-left: 1.75em;
}

.lil-gui, .lil-gui button {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.lil-gui input[type=checkbox] {
    position: absolute;
    right: 0.2em;
}

.lil-gui .widget .display {
    position: absolute !important;
    right: 0.1em;
}

.lil-gui option, .lil-gui .widget {
    text-transform: capitalize;
}

/* sub sub menu indentation */
.lil-gui.root .lil-gui .lil-gui .title {
    padding-left: 1em;
}

.lil-gui input[type='number'], .lil-gui input[type='text'] {
    margin-right: 3px;
    padding: 0 0.25em;
    text-align: center;
    font-family: "Sniglet", system-ui !important;
}

.search::placeholder {
    color: var(--text-color);
}

/* loader dots animation */
.loader {
    position: relative;
    width: 30px;
    left: 80px;
    margin-top: 0.3em;

    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}
